.movie-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.movies-list{
    width: 90%;
    height: 100%;
}

.movie-item{
    height: 150px;
    background: #2b282870;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

.movie-image{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-name{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    height: 100px;
    width: 120px;
    border-radius: 10px;
}
